<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="StockExchangeServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:45414/StockExchangeService.asmx"
                binding="basicHttpBinding" bindingConfiguration="StockExchangeServiceSoap"
                contract="ServiceReference1.StockExchangeServiceSoap" name="StockExchangeServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>